<li draggable="true" data-content-block-manifest-name=<%= signup_field.id %>>
  <div class="draggable-content">
    <%= signup_field_name(signup_field) %> ( <%= signup_field_manifest(signup_field) %> )
    <div>
      <%= link_to decidim_extra_user_fields.signup_field_path(signup_field), method: :delete, data: { confirm: t("decidim.extra_user_fields.admin.extra_user_fields.index.delete") }, class: "mr-s text-muted" do %>
        <%= icon "circle-x", role: "img", "aria-hidden": true %>
      <% end %>
      <%= link_to decidim_extra_user_fields.edit_signup_field_path(signup_field), class: "mr-s text-muted" do %>
        <%= icon "pencil", role: "img", "aria-hidden": true %>
      <% end %>
      <%= icon "menu", role: "img", "aria-hidden": true %>
    </div>
  </div>
</li>
