<div class="grid-container full">
  <div class="grid-x grid-margin-x">
    <div class="card-section">
      <button id="createSignupFieldBtn" type="button">New Field</button>
    </div>
  </div>
  <div class="grid-x grid-margin-x card-grid">
    <div class="cell small-6">
      <div class="card">
        <div class="card-section">
          <p class="mb-m"><%= t(".active_fields") %></p>
          <ul class="draggable-list js-connect js-list-actives" data-sort-url="<%= decidim_admin.organization_homepage_path %>">
            <% active_fields.each do |signup_field| %>
              <li draggable="true" data-content-block-manifest-name=<%= signup_field.id %>>
                <div class="draggable-content">
                  <%= signup_field.title[current_locale] %>
                  <div>

                    <%= icon "menu", role: "img", "aria-hidden": true %>
                  </div>
                </div>
              </li>
            <% end %>
          </ul>
        </div>
      </div>
    </div>
    <div class="cell small-6">
      <div class="card">
        <div class="card-section">
          <p class="mb-m"><%= t(".inactive_fields") %></p>
          <ul class="draggable-list js-connect js-list-availables">
            <% inactive_fields.each do |signup_field| %>
              <li draggable="true" data-content-block-manifest-name=<%= signup_field.id %>>
                <div class="draggable-content">
                  <%= signup_field.title[current_locale] %>
                  <div>
                    <%= icon "menu", role: "img", "aria-hidden": true %>
                  </div>
                </div>
              </li>
            <% end %>
          </ul>
        </div>
      </div>
    </div>
  </div>
</div>

<script>


  $(document).ready(() => {
      $("#submit_extra_fields").on("submit", (event) => {
          event.preventDefault()
          var activeFields = document.querySelectorAll(".js-list-actives li");

          var activeFieldsManifestName = [];
          activeFields.forEach((field) => {
              activeFieldsManifestName.push(field.dataset.contentBlockManifestName);
          })

          $.ajax({
              method: "PATCH",
              url: $("#submit_extra_fields").attr("action"),
              contentType: "application/json",
              data: JSON.stringify({ field_ids: activeFieldsManifestName })
          });

      })

      // When clicking the button, we create a new field
      $("#createSignupFieldBtn").on("click", (event) => {
          // Create a new field using the command CreateSignupField
      });
  })

</script>
