<%= form.hidden_field :id, value: @form.get_signup_id(@signup_field) %>

<div class="form-group">
   <%= form.select :manifest, options_for_select(@form.translated_available_fields.zip(@form.available_fields), @form.get_signup_manifest(@signup_field)), { label: t('.type') }, { id: "type_control" } %>
</div>

<div class="form-group">
  <%= form.translated :text_field, :title, autofocus: true %>
  <%# Warning text %>
  <p class="text-danger"><%= @form.warning_text?(@signup_field) %></p>
</div>

<div class="form-group">
  <%= form.translated :text_area, :description, autofocus: true %>
  <p class="text-danger"><%= @form.warning_text?(@signup_field) %></p>
</div>

<div class="form-group">
  <%= form.check_box :mandatory, label: t('.mandatory') %>
</div>

<div class="form-group">
  <%= form.check_box :masked, label: t('.masked') %>
</div>

 <div id="options-container" hidden="hidden">
   <div class="form-group">
     <div>
       <%= form.text_area :options, class: 'form-control', label: t('.options'), id: 'option_field', value: @form.get_signup_options(@signup_field) %>
       <p class="text-danger"><%= t('.warning_text') %></p>
       <p class="text-danger"><%= @form.warning_text?(@signup_field) %></p>
     </div>
   </div>
 </div>

<script>
    // JavaScript code to dynamically add options for checkbox, radio, and select types
    $(document).ready(function (){
        $('#type_control').on('change', (event) => {

            var selectedType = event.target.value;

            $('#options-container').hide()

            if (selectedType === 'checkbox' || selectedType === 'radio' || selectedType === 'select') {
                $('#signup_fields_form_type').val(selectedType);
                $('#options-container').show();
            } else {
                // Empty the option_field from its text
                $('#option_field').val(null);
            }
        });

        function showOptions() {
            var selectedType = $('#type_control').val();
            if (selectedType === 'checkbox' || selectedType === 'radio' || selectedType === 'select') {
                $('#signup_fields_form_type').val(selectedType);
                $('#options-container').show();
            } else {
                // Empty the option_field from its text
                $('#option_field').val(null);
            }
        }


        $('#type_control').trigger('change');
    });
</script>
