 <div class="form-group">

  <%= form.select :manifest, options_for_select(@form.translated_available_fields.zip(@form.available_fields)), {label: t('.type')}, {id: "type_control"} %>
</div>

<div class="form-group">
  <%= form.text_field :title, class: 'form-control', placeholder: t('.title'), label: t('.title')%>
</div>

<div class="form-group">
  <%= form.text_area :description, class: 'form-control', placeholder: t('.description'), label: t('.description') %>
</div>

<div class="form-group">
  <%= form.check_box :mandatory, label: t('.mandatory') %>
</div>

<div class="form-group">
  <%= form.check_box :masked, label: t('.masked') %>
</div>

 <div id="options-container" hidden="hidden">
   <div class="form-group">
     <div>
       <%= form.text_area :options, class: 'form-control', label: t('.options'), id: 'option_field' %>
       <p class="text-danger"><%= t('.warning_text') %>)</p>
     </div>
     <div class="text-center">
     </div>
   </div>
 </div>

<script>
    // JavaScript code to dynamically add options for checkbox, radio, and select types
    $(document).ready(function (){
        $('#type_control').on('change', (event) => {
            console.log(event.target.value);
            // Get the selected type value
            var selectedType = event.target.value;

            $('#options-container').hide()

            if (selectedType === 'checkbox' || selectedType === 'radio' || selectedType === 'select') {
                $('#signup_fields_form_type').val(selectedType);
                $('#options-container').show();
            } else {
                // Empty the option_field from its text
                $('#option_field').val(null);
            }
        });
    });
</script>
