<% if current_organization.extra_user_fields_enabled? %>
  <div class="card">
    <div class="card__content card__extra_user_fields">
      <div class="legend">
        <h3><%= t(".signup.legend") %></h3>
      </div>

      <% if current_organization.activated_extra_field?(:date_of_birth) %>
        <div class="field">
          <%= f.date_field :date_of_birth, id: "user_date_of_birth" %>
        </div>
      <% end %>

      <% if current_organization.activated_extra_field?(:gender) %>
        <div class="field">
          <%= f.collection_select :gender, f.object.gender_options_for_select, :first, :last %>
        </div>
      <% end %>

      <% if current_organization.activated_extra_field?(:country) %>
        <div class="field">
          <%= f.custom_country_select :country %>
        </div>
      <% end %>

      <% if current_organization.activated_extra_field?(:postal_code) %>
        <div class="field">
          <%= f.text_field :postal_code %>
        </div>
      <% end %>

      <% if current_organization.activated_extra_field?(:phone_number) %>
        <div class="field">
          <%= f.text_field :phone_number %>
        </div>
      <% end %>

      <% if current_organization.activated_extra_field?(:location) %>
        <div class="field">
          <%= f.text_field :location %>
        </div>
      <% end %>

      <% if current_organization.activated_extra_field?(:underage) %>
        <% if current_organization.activated_extra_field?(:date_of_birth) %>
          <div class="fieldset hidden" id="underage_fieldset">
            <%= f.check_box :underage, id: "underage_checkbox", label:  t(".signup.underage", limit: current_organization.age_limit?) %>
            <div class="field <%= f.object.date_of_birth.present? ? '' : 'hidden' %>" id="statutory_representative_email_field">
              <%= f.text_field :statutory_representative_email %>
            </div>
          </div>
        <% else %>
          <div class="fieldset">
            <%= f.check_box :underage, id: "underage_checkbox", label:  t(".signup.underage", limit: current_organization.age_limit?) %>
            <div class="field hidden" id="statutory_representative_email_field">
              <%= f.text_field :statutory_representative_email %>
            </div>
          </div>
        <%end %>


      <% end %>

      <%# Block ExtraUserFields SignUpFormFields %>

      <%# EndBlock %>
    </div>
  </div>
  <%= javascript_pack_tag "decidim_extra_user_fields.js" %>
  <%= stylesheet_pack_tag "decidim_extra_user_fields_css" %>
<% end %>
